h1{
  background-color: pink;
  text-align: center;
}

body{
  background-color: powderblue;

  background-repeat: no-repeat;
  height:700;
  width: 1900;
}
table{
  height: 200px;
  width: 500px;
  margin-left: 30%;
}

table,tr,td,th{
  border: 3px solid black;
  border-collapse: collapse;
}
