<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Student Information</h1>
    <table>
      <thead>
        <th>name</th>
        <th>marks</th>
        <th>email</th>
        <th><button type="button" name="button">Delete</button></th>
        <th><button type="button" name="button">Update</button></th>
      </thead>
      {% for x in data %}
      <tr>
        <td>{{x.name}}</td>
        <td>{{x.marks}}</td>
        <td>{{x.email}}</td>
      </tr>
      {%endfor%}
    </table>
    <form class="" action="/first/all/" method="get">

        <button type="submit" name="button">add Student</button>
    </form>
    <form class="" action="/first/one/" method="get">
 <button type="submit" name="button">first view</button>
    </form><br><br>
    <form class="" action="/first/one/" method="post">
      {% csrf_token %}
 <button type="submit" name="button">second view</button>
    </form>
  </body>
</html>
